body {
  font-family: Arial;
}


.start-knopf {
    padding: 15px 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.6);
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, sans-serif;

    transition: 0.3s ease;
}

.robben-page {
    margin: 0;
    height: 100vh;

    background-image: url("robben-in-island-2c13b623-72f9-4e08-b46d-6c05280b5d96.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.menuitem {
  color: black;
  text-align: center;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.9 color 0.9;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.menuitem:hover {
  background-color: black;
  color: whitesmoke;
}

